@{
    ViewData["Title"] = "Show";
}

<h1>@ViewBag.value</h1>
<div class="container">
    <div class="row">
        @*<h1 class="border border-primary">@ViewBag.ziyaretci</h1>*@
        <h1 class="border border-primary">@ViewBag.count</h1>

    </div>

</div>

<h1 class="border border-primary">@ViewBag.deger</h1>
<h1 class="border border-primary">@ViewBag.atama</h1>
